 .dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;


 }

 .dialogsItems .dialog{
  padding: 10px;
  border: black solid 1px;

 }

 .dialog2 {

  text-decoration: none;
 }
/* dialog */
 .dialog a:focus {
  color: gold;
 }
 .dialog a{
  display: block;
 }
 .dialog a:hover{
  color: red;
 }
 .dialog:hover {
  display: block;
  color: red;
  text-decoration: underline;
  background: aqua;
  text-decoration: none;
 }
 /*-- end dialog -- */

 .messages .message {
  padding: 10px;

 }