.nav {
    grid-area: n;
    background-color: lightslategrey;

}

.item {
    color:  white;
}
.item a.active {
    color: gold;
}
.item a.activeLink {
    color: red;
    cursor: default;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:focus {
    color: gold;
}
a:hover {
    color: red;
    text-decoration: underline;
    background: limegreen;
    text-decoration: none;
}

/*a:visited {
    color: blue; // Цвет посещённой ссылки
} */

/*
a:hover {
    color: gold; !* Цвет ссылки при наведении *!
    text-decoration: underline; !* Добавляем подчёркивание *!
    background: limegreen; !* Цвет фона *!
}
a:active {
    color: black;
    text-decoration: underline;
}*/
